hn.TimeService/Service References/APIService/APIService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62037/APIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" />
  <xs:element name="WmStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stockname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brandname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wdr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="isfactory" type="xs:boolean" />
        <xs:element minOccurs="0" name="istrust" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WmStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WmStockResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pagecount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ICSEOUTBILLSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="icseout" nillable="true" type="q1:ArrayOfV_ICSEOUTBILLMODEL" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="icseoutentry" nillable="true" type="q2:ArrayOfV_ICSEOUTBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ICSEOUTBILLSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ICSEOUTBILLSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICSEOUTUpdateData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICSEOUTUpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetICSEOUTUpdateDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCSEOUTSyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCSEOUTSyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCSEOUTSyncStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICSEOUTUpdateData2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICSEOUTUpdateData2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetICSEOUTUpdateData2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCSEOUTSyncStatus2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCSEOUTSyncStatus2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCSEOUTSyncStatus2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTOCKUpdateData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSTOCKUpdateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSTOCKUpdateDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMP_STOCKBill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMP_STOCKBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTMP_STOCKBillResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTMP_STOCKBillStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTMP_STOCKBillStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTMP_STOCKBillStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinfo_RE_id0">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinfo_RE_id0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinfo_RE_id0Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinfo_RE_id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinfo_RE_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFinfo_RE_idResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventorySync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="salesOrderDatas" nillable="true" type="q3:ArrayOfSALES_ORDER_DATAMODEL" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="salesoutDatas" nillable="true" type="q4:ArrayOfSALESOUT_DATAMODEL" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="inventorys" nillable="true" type="q5:ArrayOfTP_INVENTORYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InventorySyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InventorySyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>