HN_SYN/Service References/WebAPI/APIService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/hn.Core.Model" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/hn.Common.Cls_query" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MApiModel.api2" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/MApiModel.recApi2" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/MApiModel.api8" />
  <xs:import schemaLocation="http://localhost:8081/APIService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MApiModel.api3" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="LoginResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldpwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categorycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="all" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetDicsResult" nillable="true" type="q2:ArrayOfSYS_SUBDICSMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thdbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="getTHDResult" nillable="true" type="q3:v_thdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLeftNum_THD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thdbm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLeftNum_THDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLeftNum_THDResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetPremiseListResult" nillable="true" type="q4:ArrayOfV_PREMISEModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrandListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetBrandListResult" nillable="true" type="q6:ArrayOfTB_BrandModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetClientAccountListResult" nillable="true" type="q7:ArrayOfV_CLIENTACCOUNTModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressCompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetExpressCompanyListResult" nillable="true" type="q8:ArrayOfTB_EXPRESSCOMPANYModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetProductListResult" nillable="true" type="q9:ArrayOfProductViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetSrcListResult" nillable="true" type="q10:ArrayOfSRCModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetProvinceResult" nillable="true" type="q11:ArrayOfTB_EBPLModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provinceid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetCityResult" nillable="true" type="q12:ArrayOfTB_EBPLModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetDistrictResult" nillable="true" type="q13:ArrayOfTB_EBPLModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="getProductViewResult" nillable="true" type="q14:ProductViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleDicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetSingleDicsResult" nillable="true" type="q15:SYS_SUBDICSMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverBaseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverBaseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetDeliverBaseListResult" nillable="true" type="q16:ArrayOfTB_DELIVER_BASEModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccountSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccountSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetClientAccountSingleResult" nillable="true" type="q17:V_CLIENTACCOUNTModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q18:User" />
        <xs:element minOccurs="0" name="classarea2name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="premiseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchclose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanListResult" nillable="true" type="q19:ArrayOfV_ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q20:User" />
        <xs:element minOccurs="0" name="strQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanImportResult" nillable="true" type="q21:ArrayOfV_ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImport2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q22:User" />
        <xs:element minOccurs="0" name="strQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brandid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImport2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanImport2Result" nillable="true" type="q23:ArrayOfV_ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImport3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q24:User" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/hn.Common.Cls_query" minOccurs="0" name="pquery" nillable="true" type="q25:P_QueryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanImport3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanImport3Result" nillable="true" type="q26:ArrayOfV_ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanModelResult" nillable="true" type="q27:V_ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanEntryListResult" nillable="true" type="q28:ArrayOfV_ICPRBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanEntryByDeliveryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q29:User" />
        <xs:element minOccurs="0" name="productinfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classarea2name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryaddr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchasePlanEntryByDeliveryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetPurchasePlanEntryByDeliveryListResult" nillable="true" type="q30:ArrayOfV_ICPRBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q31:ArrayOfICPRBILLENTRYMODEL" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q32:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmSaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q33:ArrayOfICPRBILLENTRYMODEL" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q34:User" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseSaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stockname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wdr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="colorno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isfactory" type="xs:boolean" />
        <xs:element minOccurs="0" name="istrust" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockListMN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MApiModel.api2" minOccurs="0" name="getapi2" nillable="true" type="q35:Rootobject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockListMNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MApiModel.recApi2" minOccurs="0" name="GetStockListMNResult" nillable="true" type="q36:Rootobject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetAttachmentListResult" nillable="true" type="q37:ArrayOfTB_ATTACHMENTModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateICPRBILL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="model" nillable="true" type="q38:ICPRBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateICPRBILLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateICPRBILLResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefrshPriceNumberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="entryids" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefrshPriceNumberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="RefrshPriceNumberListResult" nillable="true" type="q40:ArrayOfV_ICPRBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceNumberListByItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceNumberListByItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetPriceNumberListByItemIDResult" nillable="true" type="q41:ArrayOfTB_PRICEPOLICYModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceNumberListByBrandID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceNumberListByBrandIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/hn.DataAccess.model" minOccurs="0" name="GetPriceNumberListByBrandIDResult" nillable="true" type="q42:ArrayOfTB_PRICEPOLICYModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billtype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewBillNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewBillNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupBillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryBillSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="model" nillable="true" type="q43:ICSEOUTBILLMODEL" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="entrys" nillable="true" type="q44:ArrayOfICSEOUTBILLENTRYMODEL" />
        <xs:element minOccurs="0" name="delivery" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveryBillSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeliveryBillSaveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIdentificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q45:User" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classarea2name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="premiseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="car" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stock" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expresscompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="factotryno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchclose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetDeliveryListResult" nillable="true" type="q46:ArrayOfV_ICSEOUTBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetDeliveryEntryListResult" nillable="true" type="q47:ArrayOfV_ICSEOUTBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDeliveryByIDsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditDeliveryByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q48:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditDeliveryByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditDeliveryByIDsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditAntiDeliveryByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditAntiDeliveryByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditAntiDeliveryByIDsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeliveryByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeliveryByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncDeliveryByIDsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeliveryByIDsMN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeliveryByIDsMNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncDeliveryByIDsMNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryEntryByGroupNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryEntryByGroupNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetDeliveryEntryByGroupNoResult" nillable="true" type="q49:ArrayOfV_ICSEOUTBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByGroupNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryByGroupNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetDeliveryByGroupNoResult" nillable="true" type="q50:ArrayOfV_ICSEOUTBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcModelByItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSrcModelByItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetSrcModelByItemIDResult" nillable="true" type="q51:SRCModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetDeliveryEntryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commitqty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGetDeliveryEntryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGetDeliveryEntryDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDismantlingNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDismantlingNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDismantlingNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryGroupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryGroupStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDeliveryGroupStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractCarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveICPOBILL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="ICPOBILL" nillable="true" type="q53:ICPOBILLMODEL" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="ICPOBILLENTRYList" nillable="true" type="q54:ArrayOfICPOBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveICPOBILLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveICPOBILLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q55:User" />
        <xs:element minOccurs="0" name="classarea2name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="premiseid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchclose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetOrderListResult" nillable="true" type="q56:ArrayOfV_ICPOBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderEntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderEntryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetOrderEntryListResult" nillable="true" type="q57:ArrayOfV_ICPOBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="icprbillid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GetSingleOrderResult" nillable="true" type="q58:ICPOBILLMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q59:User" />
        <xs:element minOccurs="0" name="FPObillno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ficbolno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FSYNCSTATUS" type="xs:int" />
        <xs:element minOccurs="0" name="FACCOUNT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FITEMID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchclose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GeICPO_BOLListResult" nillable="true" type="q60:ArrayOfICPO_BOLentryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartDate_syn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartDate_synResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStartDate_synResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLListMN_syn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLListMN_synResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeICPO_BOLListMN_synResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLListMN_db">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MApiModel.api8" minOccurs="0" name="getapi8" nillable="true" type="q61:Rootobject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeICPO_BOLListMN_dbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="GeICPO_BOLListMN_dbResult" nillable="true" type="q62:ArrayOfv_thdModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSave_ICPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q63:ArrayOfICPOBILLENTRYMODEL" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q64:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSave_ICPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmSave_ICPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSave_ICPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q65:ArrayOfICPOBILLENTRYMODEL" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q66:User" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSave_ICPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseSave_ICPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditSave_ICPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q67:ArrayOfICPOBILLENTRYMODEL" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q68:User" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditSave_ICPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditSave_ICPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAuditSave_ICPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="data" nillable="true" type="q69:ArrayOfICPOBILLENTRYMODEL" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/hn.Core.Model" minOccurs="0" name="loginUser" nillable="true" type="q70:User" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAuditSave_ICPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnAuditSave_ICPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_InsertICPOEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MApiModel.api3" minOccurs="0" name="getapi3" nillable="true" type="q71:Rootobject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_InsertICPOEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Remote_InsertICPOEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_GetICPOEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEntryID" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="billModel" nillable="true" type="q72:ICPOBILLMODEL" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="entryModel" nillable="true" type="q73:ICPOBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_GetICPOEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="billModel" nillable="true" type="q74:ICPOBILLMODEL" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="entryModel" nillable="true" type="q75:ICPOBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_GetICPO_BOEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fbillno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entryid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_GetICPO_BOEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="Remote_GetICPO_BOEntryResult" nillable="true" type="q76:ArrayOfICPO_BOLentryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_SetICPO_BOEntryStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fbillno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entryid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remote_SetICPO_BOEntryStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Remote_SetICPO_BOEntryStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_ICPREntry_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="tModel" nillable="true" type="q77:ICPRBILLENTRYMODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save_ICPREntry_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Save_ICPREntry_ListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_FSYNStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/hn.DataAccess.Model" minOccurs="0" name="billMode" nillable="true" type="q78:ICPOBILLMODEL" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_FSYNStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_FSYNStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_FSYN_Remote_Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iStatus" type="xs:int" />
        <xs:element minOccurs="0" name="cjbh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_FSYN_Remote_StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_FSYN_Remote_StatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>