HN_SYN/Service References/WebAPI/APIService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.Common.Cls_query" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.Common.Cls_query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="P_QueryOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="P_BillNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="areaid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="t_status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P_QueryOrder" nillable="true" type="tns:P_QueryOrder" />
</xs:schema>