hn.Client/Service References/ApiService/APIService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hn.DataAccess.bll" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hn.DataAccess.bll" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Forder_confirm_Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fbuttstatus2" type="xs:int" />
      <xs:element minOccurs="0" name="Fisrejected" type="xs:int" />
      <xs:element minOccurs="0" name="Fjde_sono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forderamount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Forderprice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Forderqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Forderunit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fproductcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FsoentryID" type="xs:int" />
      <xs:element minOccurs="0" name="Fsrcbillno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forder_confirm_Input" nillable="true" type="tns:Forder_confirm_Input" />
  <xs:complexType name="ArrayOfForder_delivery_Input">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Forder_delivery_Input" nillable="true" type="tns:Forder_delivery_Input" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForder_delivery_Input" nillable="true" type="tns:ArrayOfForder_delivery_Input" />
  <xs:complexType name="Forder_delivery_Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fbuttstatus3" type="xs:int" />
      <xs:element minOccurs="0" name="Fcasecode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fdeldate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fdelqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fisdelover" type="xs:int" />
      <xs:element minOccurs="0" name="Fjde_sono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forderqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Forderunit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fproductcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fremark2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FsoentryID" type="xs:int" />
      <xs:element minOccurs="0" name="Fsrcbillno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fsrcdelno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forder_delivery_Input" nillable="true" type="tns:Forder_delivery_Input" />
</xs:schema>