hn.Client/Service References/ApiService/APIService1615.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MApiModel.recApi24" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MApiModel.recApi24" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rootobject">
    <xs:sequence>
      <xs:element minOccurs="0" name="comid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultInfo" nillable="true" type="tns:ArrayOfResultinfo" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="totalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rootobject" nillable="true" type="tns:Rootobject" />
  <xs:complexType name="ArrayOfResultinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resultinfo" nillable="true" type="tns:Resultinfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultinfo" nillable="true" type="tns:ArrayOfResultinfo" />
  <xs:complexType name="Resultinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DB" type="xs:int" />
      <xs:element minOccurs="0" name="autoid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpcm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpdj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpgg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cppz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpsh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpxh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dj" type="xs:float" />
      <xs:element minOccurs="0" name="dw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="je" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khhm1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khmc1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pjhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pzhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zdr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultinfo" nillable="true" type="tns:Resultinfo" />
</xs:schema>