hn.Client/Service References/ApiService/APIService167.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MApiModel.api3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MApiModel.api3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rootobject">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfDatum" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rootobject" nillable="true" type="tns:Rootobject" />
  <xs:complexType name="ArrayOfDatum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Datum" nillable="true" type="tns:Datum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatum" nillable="true" type="tns:ArrayOfDatum" />
  <xs:complexType name="Datum">
    <xs:sequence>
      <xs:element minOccurs="0" name="bz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpcm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpdj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpgg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cppz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpsh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpxh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dj" type="xs:decimal" />
      <xs:element minOccurs="0" name="dw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="je" type="xs:decimal" />
      <xs:element minOccurs="0" name="khhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khhm1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="khmc1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ks" type="xs:int" />
      <xs:element minOccurs="0" name="package" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pjhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sl" type="xs:decimal" />
      <xs:element minOccurs="0" name="sourceno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zdr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datum" nillable="true" type="tns:Datum" />
</xs:schema>