hn.Client/Service References/ApiService/APIService169.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MApiModel.api24" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MApiModel.api24" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rootobject">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="pzhm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rq1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rq2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sourceno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rootobject" nillable="true" type="tns:Rootobject" />
</xs:schema>